body {
  background-image: url("media/images/products.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.panel,
.flip {
  padding: 10px;
  text-align: left;
}

.panel {
  padding: -10px;
  display: none;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  border-radius: 50px;
}
.fa-youtube {
  background: red;
  color: white;
}
.fa-instagram {
  background: #2411ce;
  color: white;
}
.fa-google {
  background: #e71c1c;
  color: white;
}
.logo {
  border-radius: 40px;
}
.button {
  background-color: DodgerBlue;
  border: greenyellow;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 30px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  border-radius: 30px;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  border-radius: 30px;
}

.button:hover span {
  padding-right: 25px;
  border-radius: 30px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  border-radius: 30px;
}
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 1px px; /* Some padding */
  font-size: 25px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 30px;
  width: 150px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
  border-radius: 30px;
}
.fs {
  text-decoration: none;
  color: aliceblue;
}
aside {
  width: 100%;
  padding-left: 15px;
  margin-left: 10px;
  margin-right: -10px;
  color: rgb(0, 0, 0);
  float: right;
  font-style: italic;
  background-color: rgb(12, 229, 245);
  border-radius: 30px;
}
