<!DOCTYPE html>
<html>
<!-- access Plotly content delivery network (CDN) charting library -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<body>
    <h1>Top 5 Drivers Overall Results</h1>
    <div id="myHBarPlot" style="width:100%; max-width:800px;"></div>

    <script>
        // Use passed variables for driver names and overall results
        var driverNames = {{ driverNames | tojson | safe }};
        var driverResults = {{ driverResults | tojson | safe }};

        // Define graph data
        const data = [{ x: driverResults, y: driverNames, type: "bar", orientation: "h", marker: { color: "blue" } }];

        // Define graph layout. No need for y-axis title as driver names are self-explanatory.
        const layout = {
            xaxis: { range: [0, {{ driverResults | max }
        }], title: "Overall Result" },
        title: "Top 5 Drivers Overall Results"
        };

        // Display the graph using Plotly
        Plotly.newPlot("myHBarPlot", data, layout);
    </script>
</body>

</html>