{% extends "base.html" %}
{% block content %}
<style>
/* Style for the table container */
.table-container {
width: 100%;
overflow-x: auto;
margin-top: 20px;
}

/* Style for the table */
.styled-table {
border-collapse: collapse;
width: 100%;
background-color: #f8f8f8;
}

.styled-table thead th {
background-color: #333;
color: white;
font-weight: bold;
padding: 10px;
text-align: left;
}

.styled-table th,
.styled-table td {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

.styled-table tr:nth-child(even) {
background-color: #f2f2f2;
}

.styled-table tr:hover {
background-color: #ddd;
}
</style>
<h2>Driver Run Details</h2>

<!-- Check if driversrun_details is not empty -->
{% if driversrun_details %}
<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Driver ID</th>
                <th>Model</th>
                <th>Driver Class</th>
                <th>Course ID</th>
                <th>Seconds</th>
                <th>Cones</th>
                <th>WD</th>
                <th>Total Run</th>
            </tr>
        </thead>
        <tbody>
            {% for driver_run in driversrun_details %}
            <tr>
                <td>{{ driver_run[0] }}</td>
                <td>{{ driver_run[1] }}</td>
                <td>{{ driver_run[2] }}</td>
                <td>{{ driver_run[3] }}</td>
                <td>{{ driver_run[4] }}</td>
                <td>{{ driver_run[5] }}</td>
                <td>{{ driver_run[6] }}</td>
                <td>{{ driver_run[7] }}</td>
                <td>{{ driver_run[8] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No driver run details available.</p>
{% endif %}
{% endblock %}